body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: lightcoral;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: lightblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.sortable table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #808080
}

.sortable th:hover {
    cursor: pointer;
    background-color: #808080
}
