@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Project 3 - Bradley Payne</h2>
</div>

<div>
    <h3> Six controllers with one view each. </h3>
</div>

<div>
    <p>
        This application has sorting and searching capabilities, Custom Styling, JS Objects, Classes/Models, Entity Framework, Email sending, HTTPGet and HTTPPost requests,
        List views, upsert views, edit/delete functionality, Documentation PER Method/Class
    </p>
</div>

<h4>Customers table includes:</h4>
<table class="table">
    <tr>
        <th>Customer Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip Code</th>
    </tr>
</table>

<h4>Invoice Line Items table includes:</h4>
<table class="table">
    <tr>
        <th>Invoice Id</th>
        <th>Product Code</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Item Total</th>
    </tr>
</table>

<h4>Invoices table includes:</h4>
<table class="table">
    <tr>
        <th>Invoice Id</th>
        <th>Customer ID</th>
        <th>Invoice Date</th>
        <th>Product Total</th>
        <th>Sales Tax</th>
        <th>Shipping</th>
        <th>Invoice Total</th>
    </tr>
</table>

<h4>Order Options table includes:</h4>
<table class="table">
    <tr>
        <th>Sales Tax Rate</th>
        <th>First Book Ship Charge</th>
        <th>Additional Book Ship Charge</th>
    </tr>
</table>

<h4>Products table includes:</h4>
<table class="table">
    <tr>
        <th>Product Code</th>
        <th>Description</th>
        <th>Unit Price</th>
        <th>On Hand Quantity</th>
    </tr>
</table>

<h4>States table includes:</h4>
<table class="table">
    <tr>
        <th>StateCode</th>
        <th>State Name</th>
    </tr>
</table>